target/
lib_managed/
src_managed/
project/boot/
.cache
/js/
/node_modules/
/assets/
/.idea/libraries/
/.idea/modules.xml
npm-debug.log
/bower_components/
/cache/
/release/

app/
.electron-cache/

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db